body {
  font-family: sans-serif;
}

h1 {
  background: #B8D9F4;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

table td {
  vertical-align: top;
}

table.characters td {
  text-align: center;
}

table.characters img {
  height: 168px;
  border: 1px solid #B8D9F4;
}

/*
 * mizige: not rotated
 */

input.mizigeHeader {
  width: 3.5cm;
}

canvas.mizige {
  width: 3.5cm;
  height: 3.5cm;
  border: black 1px solid;
}

div#scroll {
}

img.mizigeNotFound {
  width: 3.5cm;
  height: 3.5cm;
  border: black 1px solid;
}

/*
 * mizige: rotated
 */

/*
textarea.mizigeHeader {
  display: none;
}

input.mizigeHeader {
  display: none;
}

div#scroll br {
  display: none;
}

canvas.mizige {
  width: 8cm;
  height: 8cm;
  border: black 1px none;
}

div#scroll {
  width: 81cm;
  border: none;
}
*/
