body {
  font-family: sans-serif;
}

h1 {
  background: #B8D9F4;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

table td {
  vertical-align: top;
}

table.characters td {
  text-align: center;
}

table.characters img {
  height: 168px;
  border: 1px solid #B8D9F4;
}

input.mizigeHeader {
  width: 3.5cm;
}

img.mizige {
  width: 3.5cm;
  height: 3.5cm;
  opacity: 0.1;
  border: black 1px solid;
}

canvas.mizige {
  width: 3.5cm;
  height: 3.5cm;
  background-position: center;
  background-size: 100% 100%;
  border: black 1px solid;
}
